*{
  margin: 0;
  padding: 0;
}

html {
    /*background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-image: url("../images/mymind-XUlsF9LYeVk-unsplash.jpeg");*/
    background-size: cover;
    background-repeat: no-repeat;
}

.listing {
  list-style: none;
  margin: 30px 30px;
  padding: 30px 30px;
  text-align: center;
  justify-content: center;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media only screen and (max-width: 1000px) {
  .listing {
    text-align: center;
    margin: 20px 40px;
    padding: 50px 10px;
  }
}

.listing li {
  border: 1px solid #2f2e30;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
}
.listing .cta {
  margin-top: auto;
  padding: 10px;
  text-align: center;
}
.listing .body {
  padding: 10px;
  text-decoration: none;
}
.cta a{
  text-decoration: none;
  color: grey;

}
.cta a:hover{
  /* text-decoration: none;
  color: rgb(127, 111, 128);
  text-decoration-line: underline;
}*/
  color: rgba(138, 57, 158, 0.7);
  text-decoration: underline;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#222),
    to(#222),
    color-stop(0.5, #F99205)
  );
  background: -moz-gradient(
    linear,
    left top,
    right bottom,
    from(#222),
    to(#222),
    color-stop(0.5, #F99205)
  );
  background: gradient(
    linear,
    left top,
    right bottom,
    from(#222),
    to(#222),
    color-stop(0.5, #F99205)
  );
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: socials;
  -moz-animation-name: socials;
  animation-name: socials;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes socials {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}
@-webkit-keyframes socials {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}
@-o-keyframes socials {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}
@keyframes socials {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}